<div class="container">
  <h1>Animals</h1>

  <table class='table'>
    <thead>
      <tr>
        <th>Specie</th>
        <th>Genre</th>
        <th>Age</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.specie %></td>
          <td><%= animal.genre %></td>
          <td><%= animal.age %></td>
          <td><%= link_to 'Show', animal, class: 'btn btn-success' %></td>
          <td><%= link_to 'Edit', edit_animal_path(animal), class: 'btn btn-info' %></td>
          <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New animal', new_animal_path, class: 'btn btn-primary' %>
</div>
