
<div class="container-geral">
  <div class="container">
    <div class="row">

        <h2 class="tit-sign-up">new an animal for adoption</h2>

        <%= simple_form_for(@animal) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                <div class="container-sign-up">
                  <div class="col-5">
                    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                    <%= f.input :specie, collection: ["cat", "dog"] %>
                    <%= f.input :genre, :label => "gender", collection: ["female", "male"] %>
                    <%= f.input :breed %>
                  </div>
                  <div class=" ajuste1 col-5 d-flex flex-column justify-content-between">
                    <%= f.input :age %>
                    <%= f.input :castrate %>
                    <%= f.input :description, as: :text %>
                    <%= f.input :address,
                                input_html: { data: { geocoder_target: "address" }, class: "d-none" },
                                wrapper_html: { data: { controller: "geocoder",
                                geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
                  </div>
                </div>
              <%= f.button :submit, "add for adoption", class:"col-12 button-mg" %>

            </div>
        <% end %>



    </div>
  </div>
</div>
