
<div class="container-geral">
  <div class="container">
    <div class="row">

        <h2 class="tit-sign-up">new an animal for adoption</h2>

        <%= simple_form_for(@animal) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                <div class="container-sign-up">
                  <div class="col-5">
                    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                    <%= f.input :specie, collection: ["cat", "dog"], class: "pick-one" %>
                    <%= f.input :genre, collection: ["female", "male"], class:"pick-one" %>
                    <%= f.input :breed %>
                  </div>
                  <div class="col-5">
                    <%= f.input :age %>
                    <%= f.input :castrate %>
                    <%= f.input :description, as: :text %>
                    <%= f.input :address,
                          placeholder: 'Where we can find your pet',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "address" }%>
                  </div>
                </div>
              <%= f.button :submit, "add for adoption", class:"col-12 button-mg" %>

            </div>
        <% end %>


    </div>
  </div>
</div>
